body{
    font-family: Arial, sans-serif;
}

.preloader{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader span{
    display: block;
    height: 15px;
    width: 15px;
    background: #ffffff;
    margin:0px 7px;
    border-radius: 10px;
    animation: 1.2s upDown ease infinite;
}

.preloader span:first-child{
    animation-delay: .15s;
}

.preloader span:nth-child(2){
    animation-delay: .3s;
}

.preloader span:nth-child(3){
    animation-delay: .45s;
}

.preloader span:nth-child(4){
    animation-delay: .6s;
}

.preloader span:last-child{
    animation-delay: .75s;
}


@keyframes upDown{
    0%{
        height:15px;
        background:#f5c6ab; 
    }
    50%{
        height:60px;
        background:#ff5f02;
    }
    100%{
        height:15px;
        background:#db8756;
    }
}

.loader {
    position: absolute;
    top:550px;
    left:885px;
    display: flex;
    color:#344051;
    font-size: 23px;
}

.loader.animate__bounce{
    animation-iteration-count: infinite;
}

nav{
   width: 100%;
   height: 60px;
   background: #344051;
   position:fixed;
    z-index: 1;
}

.logo{
   color:#fff;
   font-size: 28px;
   line-height: 60px;
   padding-left:388px;
   float: left; 
    animation: comming 2s ease;
}

main{
   width: 100%;
    height:100%;
}

.menu{
   float: left;
   padding-left:432px;
}

.menu li{
    float:left;
    line-height: 60px;
    color:#fff;
    margin-right: 40px;
    font-size: 16px;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.main{
    width: 100%;
    height: 100% ;
    background: url(../img/boy.png)90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container{
    float:left;
    margin:432px 0px 0px 404px;
    color:#2c384a;
    text-align: center;
    opacity: 0;
    animation: titlemove 1s ease forwards;
    animation-delay: 2.4s;
}

.title__container h1{
   font-size: 60px;
   font-weight: bold;
}

.title__container h4{
    margin-top:40px;
    font-size: 22px;
    color:#79818d;
}
    
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color:#6d7682;
    font-size:13px;
    padding: 0px 16px;
    margin:58px 28px 0px 14px;
}    
   
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited{
    color: white;
}

.menu li a:hover{
    color: orange;
}

.menu li a:active{
    transform: scale(1.1);
}

.title__container input{
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover{
    background: #344051;
    color: white;
}

.title__container input:active{
    transform: scale(1.1);
}

@keyframes comming{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes topshift{
    from{
        opacity:0;
        margin-top:-80px;
    }
    to{
        opacity:1;
        margin-top:0px;
    }
}

.menu li:nth-child(2){
    animation-delay:0.4s;
}

.menu li:nth-child(3){
    animation-delay:0.8s;
}

.menu li:nth-child(4){
    animation-delay:1.2s;
} 

.menu li:nth-child(5){
    animation-delay:1.6s;
} 

.menu li:nth-child(6){
    animation-delay:2s;
}

@keyframes titlemove{
    from{
        opacity:0;
        margin-left:-500px;
    }
    to{
        opacity:1;
        margin-left:404px;
    }
}

.obomne h2{
    text-align: center;
    font-size: 27px;
    margin:108px 0px 0px 0px;
    color:#263244;
    font-weight: 600; 
}

.cherta_1 img{
    padding: 5px 0px 0px 60px;
}

.obomne img{
    margin: 30px 0px 10px 835px;
}

.obomne p{
    font-size: 18px;
    color:#3f495a;
    margin:23px 500px 0px 520px;
    opacity: 0;
    animation: obomnemove 1s ease forwards;
    animation-delay: 3.5s;
}

@keyframes obomnemove{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.obomne input{
    height: 40px;
    text-align: center;
    border: 2px solid #6f707e;
    background: none;
    border-radius: 10px;
    color:#6f707e;
    font-size:13px;
    padding: 12px 18px;
    margin:36px 0px 97px 870px;
    font-weight: 600;
    transition: all 0.2s;
    transform: scale(1);
}

.obomne input:hover{
     background: #344051;
    color: white;
}

.obomne input:active{
    transform: scale(1.1);
}

.shtoumeu{
    background: url(../img/bg2.jpg) center/cover no-repeat;
    width: 100%;
    height:522px;
}

.shtoumeu h2{
    text-align: center;
    font-size: 23px;
    padding: 100px 0px 0px 18px;
    color:#2c384a;
    font-weight: 600;
}

.cherta_2 img{
    padding: 30px 0px 20px 900px;
}

.shtoumeu h3{
    float: left;
    font-size: 16px;
    color:#cf7600;
    font-weight: 600;
    margin: 0px 50px 0px 50px;
	width:250px;
	text-align: center;
}

.block img{
    padding-top: 80px;
	padding-bottom: 20px;
}

.block img:hover{
    transform: scale(1.1);
}

.shtoumeu p{
    float: left;
    text-align: center;
    font-weight:500;
    font-size: 18px;
    color:#3f495a;
    width: 100%;
    margin: 10px 10px 0px 10px;
}

.block{
    margin-left: 230px;
}

.keic h2{
    text-align: center;
    font-size: 27px;
    margin-top:105px;
    color:#263244;
    font-weight: 600;
}

.cherta_3 img{
   margin: 30px 0px 20px 895px;
   
}

.keic p{
    text-align: center;
    font-size: 18px;
    color:#3f495a;
}

.kart img{
     margin-top: 30px;
}

.keic h3{
    font-size: 20px;
    margin:0px 0px 0px 400px;
    color:#384354;
    font-weight: 600;
}

.keic h4{
    font-size: 15px;
    margin:10px 0px 10px 400px;
    color:#3f495a;
    font-weight: 600; 
}

.keic h5{
    font-size: 20px;
    margin:0px 0px 0px 400px;
    color:#384354;
    font-weight: 600;
}

.cl{
    float:left;
    width: 800px;
}

.naz p{
    color:#3f495a;
    margin: 10px 0px 0px 600px;
    font-size: 19px;
    text-align:justify;
    width: 850px;
}

.keic input{
    height: 40px;
    text-align: center;
    background-color: #63b5ae;
    border-radius: 5px;
    color:#ffffff;
    font-size:15px;
    font-weight: 600;
    padding: 0px 16px;
    margin:5px 28px 0px 400px;
    width: 180px;
}

.keic input:hover{
    background-color: #3f495a;
}

.keic input:active{
    transform: scale(1.1);
}

.stoimost h2{
    text-align: center;
    font-size: 27px;
    margin:108px 0px 0px 0px;
    color:#263244;
    font-weight: 600;
}

.pun h3{
    font-size: 20px;
    margin:50px 0px 0px 498px;
    color:#1c2534;
    font-weight: 600;
}

.pun select{
    background-color: #eeeeee;
    width: 880px; 
    height: 50px;
    margin: 22px 0px 0px 494px;
    color:#737373;
    padding:0px 20px;
    border: 1px solid #eeeeee;
    font-weight: 600;
}

.stoimost img{
    margin: 20px 0px 5px 490px;
}

.stoimost h4{
    font-size:15px;
    font-weight: 600;
    margin:15px 0px 0px 496px;
    color:#1c2534;
}

.statistica{
    background: url(../img/bg3.jpg) center/cover
        no-repeat; 
    background-attachment: fixed;
    width: 100%;
    height:500px;
    margin-top: 150px; 
}

.statistica h2{
    text-align: center;
    font-size: 27px;
    padding: 100px 0px 0px 0px;
    color:#263244;
    font-weight: 600;
}

.cherta_4 img{
    padding: 25px 0px 0px 900px;
}

.bloc h4{ 
    float: left;
    font-size: 16px;
    color:#323e4f;
    font-weight: 600;
    margin: 90px 140px 10px 0px;
	width:210px;
	text-align: center;
}

.bloc img{
	position:relative;
	margin-bottom: 90px;	
}

.bloc img:hover{
 transform: scale(1.1);
}

.bloc{
    margin-left: 290px;
}

.otz h2{
    text-align: center;
    font-size: 27px;
    margin:108px 0px 0px 0px;
    color:#263244;
    font-weight: 600;
}

.cherta_5 {
  margin: 10px 20px 30px 10px;
}

.otz img{
    margin: 20px 0px 20px 885px;
}

.otz p{
    color: #243042;
    font-size: 18px;
    margin:23px 500px 35px 520px;
    text-align: center;
}

.otz span{
    color: #243042;
    font-size: 18px;
    margin:0px 500px 0px 780px;
    text-align: center;
}

.podval{
    background: url(../img/bg4.jpg) center/cover no-repeat; 
    width: 100%;
    height:807px;
    margin-top: 150px; 
}

.podval h2{
    text-align: center;
    font-size: 27px;
    color:#ffffff;
    font-weight: 600;
    padding:105px 0px 0px 0px;
}
 
.podval p{
    color:#ffffff;
    font-size: 18px;
    margin:70px 500px 35px 520px;
    text-align: center;
}

.podval h4{
    float: left;
    font-size: 16px;
    color:#ffffff;
    margin: 20px 0px 60px 30px;
	width:180px;
	text-align: center;
}

.podval img{
    position:relative;
	margin-left: 0%;
	margin-bottom: 20px;	
}

.blok{
    height: 110px;
    margin-left: 600px;
}

.podval h3{
    font-size: 20px;
    color:#ffffff;
    font-weight: 600;
    margin:10px 600px 0px 0px;
}

.podval input{
 background-color:rgba(218, 221, 227,1); 
 width: 350px; 
 height: 34px;
 margin-right:20px; 
 color:#5d5d5e;
 font-weight: 600;
 padding-left: 10px;
margin: 40px 0px 0px 20px;
}

.soob input{
 padding-bottom: 55px;
 width: 724px; 
 height: 93px;
 margin:5px 0px 0px 565px;
}

.soob input:focus{
    border: 2px solid orange;
}

.vvod{
    margin-left: 545px;
}

.vvod input:focus{
    border: 2px solid orange;
}
.otpravit input{
    height: 40px;
    text-align: center;
    border: 2px solid #ffffff;
    background: none;
    border-radius: 5px;
    color:#ffffff;
    font-size:15px;
    padding: 0px 16px;
    margin:10px 28px 0px 870px;
    width: 130px;
    font-weight: 600;
    transition: all 0.2s;
    transform: scale(1);
}

.otpravit input:hover{
    border-color: orange;
    color: orange;
}
  
.otpravit input:active{
    transform: scale(1.1);
}