@font-face {
    font-family: 'Franklin Gothic';
    src: url('FranklinGothic-Medium.eot');
    src: url('FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
        url('FranklinGothic-Medium.woff2') format('woff2'),
        url('FranklinGothic-Medium.woff') format('woff'),
        url('FranklinGothic-Medium.ttf') format('truetype'),
        url('FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

body{
    font-family: Arial, sans-serif;
}

.preloader{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader span{
    display: block;
    height: 15px;
    width: 15px;
    background: #ffffff;
    margin:0px 7px;
    border-radius: 10px;
    animation: 1.2s upDown ease infinite;
}

.preloader span:first-child{
    animation-delay: .15s;
}

.preloader span:nth-child(2){
    animation-delay: .3s;
}

.preloader span:nth-child(3){
    animation-delay: .45s;
}

.preloader span:nth-child(4){
    animation-delay: .6s;
}

.preloader span:last-child{
    animation-delay: .75s;
}


@keyframes upDown{
    0%{
        height:15px;
        background:#f5c6ab; 
    }
    50%{
        height:60px;
        background:#ff5f02;
    }
    100%{
        height:15px;
        background:#db8756;
    }
}

.loader {
    position: absolute;
    top:57%;
    left:47%;
    color:#344051;
    font-size: 25px;
    text-align: center;
}

.loader.animate__bounce{
    animation-iteration-count: infinite;
}

nav{
   width: 100%;
   height: 60px;
   background: #344051;
   position:fixed;
   z-index: 10;
}

.logo{
   color:#fff;
   font-size: 28px;
   line-height: 60px;
   float: left; 
    animation: comming 2s ease;
    font-family:'Franklin Gothic', sans-serif;
}

main{
   width: 100%;
    height:100%;
}

.menu{
   float: left;

}

.menu li{
    float:left;
    line-height: 60px;
    color:#fff;
    margin-right: 40px;
    font-size: 14px;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.main{
    width: 100%;
    height: 100% ;
    background: url(../img/boy.png)90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container{
    float:left;
    color:#2c384a;
    text-align: center;
    opacity: 0;
    animation: titlemove 1s ease forwards;
    animation-delay: 2.4s; 
}

.title__container h1{
   font-size: 72px;
   font-weight: 600;
   font-family:Arial, sans-serif;
}

.title__container h4{
    margin-top:40px;
    font-size: 22px;
    color:#79818d;
}
    
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color:#6d7682;
    font-size:13px;
    padding: 0px 16px;
    margin:58px 28px 0px 14px;
}    
   
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited{
    color: white;
}

.menu li a:hover{
    color: orange;
}

.menu li a:active{
    transform: scale(1.1);
}

.title__container input{
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover{
    background: #344051;
    color: white;
}

.title__container input:active{
    transform: scale(1.1);
}

@keyframes comming{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes topshift{
    from{
        opacity:0;
        margin-top:-80px;
    }
    to{
        opacity:1;
        margin-top:0px;
    }
}

.menu li:nth-child(2){
    animation-delay:0.4s;
}

.menu li:nth-child(3){
    animation-delay:0.8s;
}

.menu li:nth-child(4){
    animation-delay:1.2s;
} 

.menu li:nth-child(5){
    animation-delay:1.6s;
} 

.menu li:nth-child(6){
    animation-delay:2s;
}

@keyframes titlemove{
    from{
        opacity:0;
        margin-left:-500px;
    }
    to{
        opacity:1;
        margin-left:0px;
    }
}

.white-btn:visited{
    color:white; 
}

@media (max-width:991px){
    .title__container, .title__container h4, .title__container input{
        color:white;
        position:relative;
        z-index: 3;
    }
    .title__container input{
        border: 2px solid #fff; 
    }
    .main{
        position:relative;
    }
    .main:after{
        content:"";
        bottom:0;
        top:0;
        left:0;
        right:0;
        position:absolute;
        background: rgba(0,0,0,0.4);
        z-index: 1;
    }
}

.obomne h2{
    font-size: 27px;
    margin:108px 0px 0px 0px; 
    color:#263244;
    font-weight: 600; 
}

.cherta_1 img{
    padding-top: 30px;
}

.photo{
    margin: 60px 0px 10px 0px;
}

.obomne p{
    font-size: 18px;
    color:#3f495a;
   margin:23px 0px 0px 0px;
    opacity: 0;
    animation: obomnemove 1s ease forwards;
    animation-delay: 3.5s;
}

@keyframes obomnemove{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.obomne input{
    height: 40px;
    text-align: center;
    border: 2px solid #6f707e;
    background: none;
    border-radius: 10px;
    color:#6f707e;
    font-size:13px;
    padding: 12px 18px;
    margin:36px 0px 97px 0px;
    font-weight: 600;
    transition: all 0.2s;
    transform: scale(1);
}

.obomne input:hover{
     background: #344051;
    color: white;
}

.obomne input:active{
    transform: scale(1.1);
}

.consh{
    background: url(../img/bg2.jpg) center/cover no-repeat;
    width:100%;
    padding: 107px 0px 90px 0px;
}

.shtoumeu h2{
    font-size: 27px;
    padding: 0px 0px 0px 18px;
    color:#2c384a;
    font-weight: 600;
}

.cherta_2 img{
    padding: 30px 0px 20px 0px;
}

.shtoumeu h3{
    float: left;
    font-size: 16px;
    color:#cf7600;
    font-weight: 600;
	width:250px;
	text-align: center;
}

.block{
  width: 100%;  
}

.block img{
    padding-top: 80px;
	padding-bottom: 20px;
}

.block img:hover{
    transform: scale(1.1);
}

.block h3{
    margin-left:30px;
    margin-right: 40px;
}

.shtoumeu p{
    float: left;
    text-align: center;
    font-weight:500;
    font-size: 18px;
    color:#3f495a;
    width: 100%;
    margin: 10px 10px 0px 10px;
}

.keic h2{
    text-align: center;
    font-size: 27px;
    margin-top:105px;
    color:#263244;
    font-weight: 600;
}

.cherta_3 img{
   margin: 30px 0px 40px 0px;
}

.keic p{
    font-size: 18px;
    color:#3f495a;
}

.kart img{
    margin-top: 30px;
    position:relative;
    width: 80%;
}

.keic h3{
    font-size: 20px;
    color:#384354;
    font-weight: 600;
}

.keic h4{
    font-size: 15px;
    margin:10px 0px 10px 0px;
    color:#3f495a;
    font-weight: 600; 
}

.keic h5{
    font-size: 20px;
    color:#384354;
    font-weight: 600;
}

.cl{
    float: left;
}

.naz{
    max-width: 100%;
}

.naz p{
    color:#3f495a;
    margin: 10px 0px 0px 0px;
    font-size: 19px;
    text-align:justify;
    width: 100%;
}

.keic input{
    height: 40px;
    text-align: center;
    background-color: #63b5ae;
    border-radius: 5px;
    color:#ffffff;
    font-size:15px;
    font-weight: 600;
    padding: 0px 16px;
    margin:5px 28px 10px 0px;
    width: 200px;
}

.keic input:hover{
    background-color: #3f495a;
}

.keic input:active{
    transform: scale(1.1);
}

.stoimost h2{
    font-size: 27px;
    margin-top:108px;
    color:#263244;
    font-weight: 600;
}

.pun h3{
    font-size: 20px;
    margin-top:50px;
    color:#1c2534;
    font-weight: 600;
}

.pun select{
    background-color: #eeeeee;
    width: 100%; 
    height: 50px;
    margin-top: 22px;
    color:#737373;
    padding:0px 20px;
    border: 1px solid #eeeeee;
    font-weight: 600;
}

.colsize-h4{
    padding-left: 18%;
}

.stoimost img{
    margin: 20px 0px 5px 0px;
    max-width: 100%;
}

.stoimost h4{
    font-size:15px;
    font-weight: 600;
    margin:15px 0px 0px 0px;
    color:#1c2534;
}

.stoimost input{
     height: 40px;
    background-color: #63b5ae;
    border-radius: 5px;
    color:#ffffff;
    font-size:15px;
    font-weight: 600;
    padding: 0px 16px;
    margin-top:20px;
}

.stoimost input:hover{
    background-color: #3f495a;
}

.stoimost input:active{
    transform: scale(1.1);
}

.const{
    background: url(../img/bg3.jpg) center/cover
        no-repeat; 
    background-attachment: fixed;
   padding: 135px 0px 103px 0px;
    margin-top: 50px; 
}

.statistica h2{
    font-size: 27px;
    color:#263244;
    font-weight: 600;
}

.cherta_4 img{
    padding: 25px 0px 0px 0px;
}

.bloc h4{ 
    float: left;
    font-size: 16px;
    color:#323e4f;
    font-weight: 600;
    margin: 90px 0px 10px 20%;
}

.bloc img{
	position:relative;
	margin-bottom: 120px;	
}

.bloc img:hover{
 transform: scale(1.1);
}

.otz h2{
    font-size: 27px;
    margin:108px 0px 0px 0px;
    color:#263244;
    font-weight: 600;
}

.cherta_5 {
  margin: 30px 0px 0px 0px;
}

.photo2{
    margin-top: 40px;
}

.otz p{
    color: #243042;
    font-size: 18px;
    margin:23px 0px 35px 0px;
}

.otz span{
    color: #243042;
    font-size: 18px;
}

.conpod{
    background: url(../img/bg4.jpg) center/cover no-repeat; 
    width: 100%;
    padding: 105px 0px 168px 0px;
    margin-top: 150px; 
}

.podval h2{
    text-align: center;
    font-size: 27px;
    color:#ffffff;
    font-weight: 600;
}
 
.podval p{
    color:#ffffff;
    font-size: 18px;
    margin:20px 0px 35px 0px;
}

.podval h4{
    float: left;
    font-size: 16px;
    color:#ffffff;
    margin: 20px 0px 20px 0px;
	width:180px;
	text-align: center;
}

.podval img{
    position:relative;
	margin-bottom: 20px;	
}

.podval h3{
    font-size: 20px;
    color:#ffffff;
    font-weight: 600;
    margin:5px 0px 0px 0px;
}

.podval input{
 background-color:rgba(218, 221, 227,0.9); 
 width: 350px; 
 height: 34px;
 margin-right:0px; 
 color:#5d5d5e;
 font-weight: 600;
 padding-left: 10px;
margin-top: 40px;
}

.soob input{
 padding-bottom: 55px;
 width: 100%; 
 height: 93px;
 margin:5px 0px 0px 0px;
}

.soob input:focus{
    border: 2px solid orange;
}

.vvod input:focus{
    border: 2px solid orange;
}

.vvod input{
     width: 100%; 
}

.otpravit input{
    height: 40px;
    text-align: center;
    border: 2px solid #ffffff;
    background: none;
    border-radius: 5px;
    color:#ffffff;
    font-size:15px;
    padding: 0px 16px;
    margin-top:10px;
    width: 130px;
    font-weight: 600;
    transition: all 0.2s;
    transform: scale(1);
}

.otpravit input:hover{
    border-color: orange;
    color: orange;
}
  
.otpravit input:active{
    transform: scale(1.1);
}